body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    height: auto;
    color: white;
    
}

.top-side {
    height: 90vh;
    width: 100%;
    display: flex;
}
.biblioteka {
    height: 90vh;
    width: 10%;
    background: #121212;
    position: fixed;
    left: 0;
    top: 0;
    display: flex; 
    flex-direction: column;
    
}

.przegladaj {
    width: 75%;
    height: auto;
    background: #181818;
    position: relative;
    left: 10%;
    overflow-y: scroll;
}

.friends {
    width: 15%;
    height: 90vh;
    background: #1D1D1D;
    position: fixed;
    right: 0;
    top: 0;
}

.coleci {
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #282828;
}

.biblioteka__listy {
        opacity: 0.6;
}
.active {
    opacity: 1 !important;
    
}

a {
    color: white;
    text-decoration-line: none;
}
.dots-pannel {
    font-size: 40px;
    margin: 0;
    padding: 0 20px;
    margin-top: -20px;
}


.main-pages {
    padding:  20px;
    margin-bottom: 20px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.main-pages span {
    margin-left: 12px;
}

.fas {
    width: 15px;
}

li:hover {
    opacity: 1;
}

.biblioteki p, .playlisty p {
    margin: 5px 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.biblioteki ul, .playlisty ul {
    padding-left: 20px;
}

.biblioteki span {
    font-size: 14px;
}

.playlisty {
    margin-top: 40px;
}

.biblioteka__nowaplaylista {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 18px;
    border-top: 0.1px solid white;
    opacity: 0.6;
}

.search {
    height: 35px;
    width: 75%;
    position: fixed;
    top: 0;
    left: 10%;
    display: inline-flex;
    box-sizing: border-box;
    padding: 5px 20px;
    z-index: 1;
}

.search .fas {
    padding: 0 5px;
    font-size: 20px;
}

.search-pannel input {
    margin-left: 30px;
    width: 140px;
    padding: 5px 10px;;
    border: none;
    border-radius: 30px;
    
}


.right-pannel {
    position: absolute;
    right: 0;
    display: flex;
}

.new-wersion {
    padding: 2px 15px;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 30px;
    text-transform: uppercase;
}

.picture {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    
}

.user {
    display: flex;
    margin: 0 20px;
    margin-right: 10px;
    line-height: 30px;
}

.user:hover {
    text-decoration-line: underline;
}

.picture img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.menu-pannel {
    margin-right: 30px;
    line-height: 30px;
}

.look-what {
    text-align: center;
    margin-top: 350px;
    font-weight: 700;
}

.find-friends {
    margin-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 4px 5px;
    
}

.find-friends:hover {
  transform: scale(1.1, 1.1);
}

.content {
    padding: 40px;
}

.tytul-okladki {
    width: 100%;
    border-bottom: 0.1px solid white;
}

.okladki {
    margin-top: 40px;
    display: flex;
     flex-wrap: wrap;
} 

.okladka {
    width: 16%;
    height: 320px;
    box-sizing: border-box;
    padding: 10px;
}

.okladka-pic img {
    width: 100%;
    height: auto;
}